.navbar{
    position:fixed;
    
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

}

#lang{
    
    cursor: pointer;
    position: relative;
    left:2.5rem;

}
#lang .navpopup {
    position:fixed;

    top:6em;
    left: 3.5em;

    width: 0em;
    height: 0em;

    background-color: white;
    color:black;
    border-radius: 5px;
    transform-origin: center;
    transition: 0.3s ease; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
    visibility: hidden;

    
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.nav-wrap{
    width: 0em;
    height: 0em;
    color:black;
    transition: 0.3ms ease;
    visibility: hidden;


}

#lang.active .navpopup{
    transform-origin: center;
    transition: 0.3s ease; 
    width:8em;
    height: 9em;
    visibility: visible;
}

#lang.active .nav-wrap{
    transition: 0.5s ease; 
    width: 10em;
    height: 8em;
    visibility: visible;
  
}

h3{
    transition: 0.3s ease; 
    width: 9em;
    margin: 0;
    padding-top: 13px;
    padding-bottom: 13px;
}

h3:hover{
    transition: 0.3s ease; 
    background-color: #bebdbd;
}


#hammenu{
    position: relative;
    right:-3rem;
    cursor:pointer;
    font-size: 7px;

}
.menu-wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    width: 35em;
    height: 35em;

    transition: 0.3s ease; 
    border-radius: 50%;
}


.menu-wrap img{
    width: 30%;
    transform: translateY(20%);
}

#hammenu .menupopup{
    position:fixed;

    top:2em;
    right: 10.5em;

    width: 0em;
    height: 0em;    
    z-index: 2;

    background-color: white;
    border-radius: 50%;
    transform-origin: center;

    transform: scale(0) rotate(0.001deg);
    transition: 0.3s ease; 
    z-index: 1;
   
    visibility: hidden;
 

}
#hammenu.active .menu-wrap ,.menu-wrap:hover {
    transition: 0.3s ease;
    background-color: rgb(0, 27, 100);
}



#hammenu.active .menupopup{
    transform: scale(1) rotate(0.001deg);
    transition: 0.3s ease; 
    width: 70em;
    height: 70em;

    visibility: visible;
}

.nav li a {
    color:rgb(0, 0, 0)
}

.nav li a:hover{
    font-weight: bold;
}

.nav li{
    list-style: none;
    padding: 16px 0;
    font-size: 25px;
}

.nav{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
}

.menu-text{
    align-items: center;
    justify-content: center;
    color: #000000;
}

ul#nav {
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.menupopup {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}