@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
     font-family: 'Itim', arial, helvetica, sans-serif;
}
.selectorlayout{
     width: 80rem;
     height: 50rem;
     margin-left:1rem;
     margin-right:1rem;

     display:flex;
     flex-direction: column;

     align-items: center;
     justify-content: center;
}

.selector-Wrap{
     position: relative;
     border-radius: 25px;
     background-color: #FFF5E5;
     
}

.selector-title , .selector-detail{
     width: 100%
}

.selector-title img{
     width: 60%;
     height: 100%;
     transform: translateY(-15px);
}
.selector-title{
     width: 100%;
     height: 40%;
     margin-bottom: 20px;
     display: flex;
     align-items: start;
     justify-content: center;
     overflow: hidden;
}

.selector-detail{
     height: 70%;
     font-size: 30px;
     display: flex;
     text-align: start;
     color:black;
}