.Showcase-wrap{
    width: 100%;
    height: 100vh;
    background-color: var(--wheatcolor);
    display:flex;
}

.Show-left , .Show-right{
    width: 50%;
    height: 100%;

}

.Show-left{
    background-color: var(--wheatcolor);
    overflow: hidden;
}

.Show-right{
    background-color: var(--wheatcolor);
    overflow: hidden;
}
